// 主視覺顏色
$primary-dark: #353535;
$primary-red: #ED3939;
$primary-blue: #82B6FF;
$primary-yellow: #FFE88C;

// 基礎顏色
$black: #000000;
$white: #FFFFFF;
$background: #353535;

// 介面大小
$media-desktop-L: 1440px;
$media-desktop-M: 1280px;
$media-desktop-S: 1080px;
$media-pad-L: 1024px;
$media-pad-M: 920px;
$media-pad-S: 768px;
$media-phone: 576px;
$media-phone-M: 450px;

// 頁首頁尾大小
$header-height: 72px;
