@use "sass:math";

.portfolioPage {
  .portfolio {
    // height: 800px;
    background-color: $primary-blue;
    &_container {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 80px 60px 80px 120px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }
    &_leftWrapper {
      color: $white;
      flex-shrink: 0;
    }
    &_rightWrapper {
      width: 600px;
      margin: auto 0;
      .portfolio_hero {
        position: relative;
        transform-style: preserve-3d;
        &:before {
          content: '';
          display: block;
          padding-top: #{math.div(400, 600) * 100%};
        }
        .rocket {
          position: absolute;
          width: #{math.div(540, 600) * 100%};
          top: #{math.div(-70, 400) * 100%};
          left: #{math.div(50, 600) * 100%};
          background: url(../images/portfolio_rocket.png) no-repeat center / contain;
          animation: wave 1s ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
        .star1 {
          position: absolute;
          width: #{math.div(80, 600) * 100%};
          top: #{math.div(10, 400) * 100%};
          left: #{math.div(420, 600) * 100%};
          background: url(../images/portfolio_star.png) no-repeat center / contain;
          animation: spin 1s 100ms ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
        .star2 {
          position: absolute;
          width: #{math.div(60, 600) * 100%};
          top: #{math.div(180, 400) * 100%};
          left: #{math.div(550, 600) * 100%};
          background: url(../images/portfolio_star.png) no-repeat center / contain;
          animation: spin 0.8s 700ms ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
        .star3 {
          position: absolute;
          width: #{math.div(140, 600) * 100%};
          top: #{math.div(320, 400) * 100%};
          left: #{math.div(60, 600) * 100%};
          background: url(../images/portfolio_star.png) no-repeat center / contain;
          animation: spin 1.5s 400ms ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
      }
      // width: 200px;
      // height: 400px;
      // background-color: rgba($white, 0.1);
      // border: 1px solid rgba($white, 0.1);
      // backdrop-filter: blur(2px);
      // transform: rotateX(60deg) scale(0.7);
      // perspective: 900px;
      // transition: 0.5s ease-in-out;
      // &:hover {
      //   transform: rotateX(0) scale(1) ;
      // }
    }
  }
  .information {
    height: 200px;
    background-color: $white;
  }
  .inspiration {
    background-color: $primary-yellow;
    &_container {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 80px 120px 80px 60px;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: space-between;
    }
    &_leftWrapper {
      width: 600px;
      margin: auto 0;
      .inspiration_hero {
        position: relative;
        transform-style: preserve-3d;
        &:before {
          content: '';
          display: block;
          padding-top: #{math.div(400, 600) * 100%};
        }
        .creeper {
          position: absolute;
          width: #{math.div(540, 600) * 100%};
          top: #{math.div(-70, 400) * 100%};
          left: #{math.div(-50, 600) * 100%};
          background: url(../images/inspiration_creeper.png) no-repeat center / contain;
          animation: wave 1s ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
        .note {
          position: absolute;
          width: #{math.div(100, 600) * 100%};
          top: #{math.div(160, 400) * 100%};
          left: #{math.div(620, 600) * 100%};
          background: url(../images/inspiration_note.png) no-repeat center / contain;
          animation: wave 1s 200ms ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
        .sounder {
          position: absolute;
          width: #{math.div(150, 600) * 100%};
          top: #{math.div(280, 400) * 100%};
          left: #{math.div(500, 600) * 100%};
          background: url(../images/inspiration_sounder.png) no-repeat center / contain;
          animation: waveRotate 1s 400ms ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
      }
      .button {
        color: $primary-dark;
        padding: 10px 20px;
        background-color: rgba($black, 0.2);
        border: 1px solid rgba($white, 0.5);
        position: relative;
        &:hover {
          &:before {
            width: 100%;
            height: 100%;
            opacity: 1;
          }
        }
        &:before {
          content: '';
          position: absolute;
          top: -1px;
          left: -1px;
          width: 0;
          height: 0;
          opacity: 0;
          border-top: 1px solid $black;
          border-left: 1px solid $black;
          transition: .3s ease;
        }
      }
    }
    &_rightWrapper {
      color: $primary-dark;
      text-align: right;
      flex-shrink: 0;
      .subtitle {
        left: auto;
        right: 4px;
      }
      .divideWrapper {
        color: $primary-dark;
        justify-content: flex-end;
        .shortLine {
          border-bottom-color: rgba($primary-dark, 0.95);
        }
      }
      .text {
        font-weight: 600;
      }
      .buttonWrapper {
        justify-content: flex-end;
      }
    }
  }

  .subtitle {
    font-family: 'Poppins';
    font-size: 60px;
    font-weight: 400;
    text-shadow: 4px 6px 2px rgba($black, 0.2);
    position: relative;
    left: 8px;
  }
  .title {
    font-family: 'GenSenRounded';
    font-size: 120px;
    font-weight: 700;
    margin-top: 20px;
    text-shadow: 6px 10px 2px rgba($black, 0.2);
  }
  .divideWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: rgba($white, 0.95);
    margin: 40px 0 20px;
    .shortLine {
      width: 16%;
      height: 3px;
      border-bottom: 1px solid rgba($white, 0.95);
    }
    i {
      animation: down 1s linear infinite;
    }
  }
  .text {
    font-family: 'Open Huninn';
    font-size: 16px;
  }
  .buttonWrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    .button {
      display: flex;
      // 用 justify-content 的話物件會有點偏移
      // justify-content: center;
      align-items: center;
      transition: .5s;
      transform-style: preserve-3d;
      perspective: 1000px;
      position: relative;
      max-width: 180px;
      width: 100%;
      height: 40px;
      border-radius: 2px;
      box-shadow: 2px 2px 4px rgba($black, 0.4);
      &:hover {
        transform: rotateX(180deg);
      }
      &_front,
      &_back {
        position: absolute;
        backface-visibility: hidden;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        transform: rotateX(0);
      }
      &_front {
        font-size: 24px;
      }
      &_back {
        transform: rotateX(180deg);
      }
      &.github {
        // background-color: $primary-dark;
        background: linear-gradient(135deg, rgba(53,53,53,1) 0%, rgba(37,37,37,1) 100%);
        font-family: 'Poppins';
        font-weight: 300;
        letter-spacing: 1px;
      }
    }
    .slideButton {
      display: flex;
      // 用 justify-content 的話物件會有點偏移
      // justify-content: center;
      align-items: center;
      transition: .5s;
      position: relative;
      max-width: 180px;
      width: 100%;
      height: 40px;
      border-radius: 2px;
      box-shadow: 2px 2px 4px rgba($black, 0.4);
      background-color: $white;
      &:hover {
        &:before {
          transform: translateX(-8px);
        }
        i {
          opacity: 1;
          // transform: translateX(-50%) translateX(0px);
          // animation: rightSlide 1s ease-in-out infinite alternate;
          // animation: horizontalShake 0.4s 400ms ease-in-out infinite alternate;
        }
      }
      &:before {
        content: '檢視更多';
        display: block;
        font-family: 'Open Huninn';
        font-weight: 600;
        margin: auto;
        transition: .3s;
      }
      i {
        position: absolute;
        opacity: 0;
        font-size: 24px;
        left: 50%;
        top: calc(50% - 1px);
        animation: horizontalShake 0.4s ease-in-out infinite alternate;
        transition: .3s;
      }
    }
  }
}
