.portfolioPage {
  .portfolio {
    // height: 800px;
    background-color: $primary-blue;
    &_container {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 80px 60px 80px 120px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }
    &_leftWrapper {
      color: $white;
      flex-shrink: 0;
    }
    &_rightWrapper {
      width: 600px;
      margin: auto 0;
      .portfolio_hero {
        position: relative;
        transform-style: preserve-3d;
        &:before {
          content: '';
          display: block;
          padding-top: #{math.div(400, 600) * 100%};
        }
        .rocket {
          position: absolute;
          width: #{math.div(540, 600) * 100%};
          top: #{math.div(-70, 400) * 100%};
          left: #{math.div(50, 600) * 100%};
          background: url(../images/portfolio_rocket.png) no-repeat center / contain;
          animation: wave 1s ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
        .star1 {
          position: absolute;
          width: #{math.div(80, 600) * 100%};
          top: #{math.div(10, 400) * 100%};
          left: #{math.div(420, 600) * 100%};
          background: url(../images/portfolio_star.png) no-repeat center / contain;
          // animation: spin 1s 100ms ease-in-out infinite alternate;
          animation: spin 1s ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
        .star2 {
          position: absolute;
          width: #{math.div(60, 600) * 100%};
          top: #{math.div(180, 400) * 100%};
          left: #{math.div(550, 600) * 100%};
          background: url(../images/portfolio_star.png) no-repeat center / contain;
          // animation: spin 0.8s 700ms ease-in-out infinite alternate;
          animation: spin 0.8s ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
        .star3 {
          position: absolute;
          width: #{math.div(140, 600) * 100%};
          top: #{math.div(320, 400) * 100%};
          left: #{math.div(60, 600) * 100%};
          background: url(../images/portfolio_star.png) no-repeat center / contain;
          // animation: spin 1.5s 400ms ease-in-out infinite alternate;
          animation: spin 1.5s ease-in-out infinite alternate;
          &:before {
            content: '';
            display: block;
            padding-bottom: #{1 * 100%};
          }
        }
      }
      // width: 200px;
      // height: 400px;
      // background-color: rgba($white, 0.1);
      // border: 1px solid rgba($white, 0.1);
      // backdrop-filter: blur(2px);
      // transform: rotateX(60deg) scale(0.7);
      // perspective: 900px;
      // transition: 0.5s ease-in-out;
      // &:hover {
      //   transform: rotateX(0) scale(1) ;
      // }
    }
  }
  .information {
    height: 200px;
    background-color: $white;
  }
}
