extends ../base/_base.pug

block append css
  //- link(href="../css/home.css", rel="stylesheet")

block append js
  //- script(src="../js/home.js" type="text/javascript")

block content
  .content 123
