extends ../base/_base.pug

block append variables
  - var activePage = "作品集"

block append css
  //- link(href="../css/home.css", rel="stylesheet")

block append js
  //- script(src="../js/home.js" type="text/javascript")

block content
  .content.portfolioPage
    section.portfolio
      .portfolio_container
        .portfolio_leftWrapper
          .subtitle Portfolio
          .title 作品集
          .divideWrapper
            .shortLine
            i.fas.fa-chevron-down
            .shortLine
          .text 不知道該打些甚麼好，總而言之這裡是放一些成品的地方 OuO。<br>
            | 為了讓這篇文章多一點字<br>
            | 只好多打好多奇怪的話了<br>
            | 這樣以後也可以新增好多字<br>
            | 是的沒錯<br>
          .buttonWrapper
            a.button.github
              .button_front
                i.fab.fa-github
              .button_back Github
            a.button.github
              .button_front
                i.fab.fa-github
              .button_back Github
            //- .button
            //-   .button_back 不知道要放什麼OuO
        .portfolio_rightWrapper
          .portfolio_hero
            .rocket
            .star1
            .star2
            .star3
    section.information
    section.inspiration
      .inspiration_container
        .inspiration_leftWrapper
          .inspiration_hero
            .creeper
            .note
            .sounder
          //- a.button Hover Me
        .inspiration_rightWrapper
          .subtitle Inspiration
          .title UI / UX
          .divideWrapper
            .shortLine
            i.fas.fa-chevron-down
            .shortLine
          .text 又可以打一些字了欸黑<br>
            | OuO<br>
            | QuQ<br>
            | TuT<br>
          .buttonWrapper
            a.slideButton.readMore
              i.fas.fa-caret-right
              //- 可以用在別的按鈕上
              //- i.fas.fa-chevron-circle-right
